.Login {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -64px;
}

.LoginInfo {
    background-color: #fff;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    color: #000;
    opacity: 0.95;
    padding: 20px;
    border-radius: 4px;
    width: 250px;
}
.EmailInfo {
    margin: 0 0 2rem 0;
}

.EmailInfo .EmailLabel {
    font-weight: 400;
    text-align: left;
    margin: 0 0 0.5rem 0;
    font-size: 15px;
}

.EmailInfo .EmailValue {
    border-radius: 4px;
    border: 1px solid #21262d;
    padding: 0.5rem;
    font-size: 14px;
}

.LoginBtn {
    width: 100%;
    text-align: center;
    border-radius: 4px;
    padding: 0.5rem;
    border: 0;
    font-size: 15px;
    background-color: #238636;
    border-color: #2ea043;
    color: #fff;
    cursor: pointer;
}

.LoginBtn:hover,
.LoginBtn:focus {
    background-color: #2ea043;
}