.ListItem {
    border-radius: 0.25rem;
    background-color: #E6EAEC;
    color: #575756;
    min-width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ListItemHeader .ListItemHeaderText {
    margin: 0;
}

.ListItemHeader .ListItemHeaderMore {
    color: #575756;
    cursor: pointer;
}
