.Cards {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

.DropCardItem {
    background-color: #fff;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.GhostCard {
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: 2px solid transparent;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    cursor: pointer;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    font-size: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Dropzone {
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px dashed;
    box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
    margin: 0.5rem;
    height: 31px;
    box-sizing: border-box;
}